.select {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.select-button {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
}

.select-options {
  margin-top: 5px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(200, 200, 200);
}

.select-option {
  padding: 10px;
  cursor: pointer;
}

.select-option:hover {
  background-color: rgb(200, 200, 200);
}

.selected {
  background-color: rgb(230, 230, 230);
}

.select-label {
  margin-bottom: 10px;
}
